name: integration-tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:  
  Test:
    name: Integration Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      
      # we use forge right now as part of integration test, so need to install it first
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable
      - name: Install forge dependencies
        run: forge install
        working-directory: ./contracts

      - name: Test
        run: make tests-integration
