name: unit-tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:  
  Test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
      - name: Test
        run: make tests-unit
